
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.line-graph-wrapper{
  height: 400px;
  width: 100%;
}
.recharts-surface {
  overflow: visible;
}
.pdf-frame{
  width: 90%;
  height: 600px;
}